/*กล่องแม่*/
.flex-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 15px;
    border: 2px solid #ccc;
    height: 150px;
}
/* กล่องลูก */
.item {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    width: 80px;
    text-align: center;
    padding: 10px 0;
}
/* 1) ใช้ align-items: stretch */
.stretch {
    background: #2196F3;
}